.vscode/
camel/.vscode
camel/.settings
camel/.classpath
camel/.project
camel/target
camel/src/main/resources/real.properties
camel/data.ini
camel/dests.ini
camel/app.ini
camel/test.txt
config/app.ini
*.txt
*.ini
ile/src/mzversion.h
camel/src/main/java/com/github/theprez/manzan/Version.java
