camel/.vscode
camel/.settings
camel/.classpath
camel/.project
camel/target
camel/src/main/resources/real.properties
camel/data.ini
camel/dests.ini
camel/app.ini
camel/test.txt
config/app.ini
*.txt
/data.ini
/dests.ini
/app.ini
ile/src/mzversion.h
camel/src/main/java/com/github/theprez/manzan/Version.java
appinstall.jar
.env

test/test.iml
.secrets
.idea
camel.out
install.out
tests.out
/ile/.metadata
bazel-bin
bazel-manzan
bazel-out
bazel-testlogs